# Homework of Basic Statistics for Data Science in Python
**Telkomsel Data Science Academy**
<br> 9 October 2019

In [2]:
import pandas as pd
import statistics as st

In [4]:
#1. Load googleplaystore_user_reviews.csv file from dataset folder, 
# and assign it as df_review.  
# Fill this gap (___) and uncomment the following line! 
df_review = pd.read_csv (r'D:\DSA_2019\Basic Statistic\basic_statistics_with_python-master\dataset\googleplaystore_user_reviews.csv')

In [5]:
#2. How many rows and columns for df_review?
df_review.shape

(64295, 5)

In [6]:
#3. How many NaN value in dataset for each columns? 
df_review.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [7]:
#4. Perform drop all NaN values and assign as new data frame named df_rev_clean
df_rev_clean=df_review.dropna()

In [8]:
#5. Upon dropping, how many rows and columns remaining?
df_rev_clean.shape

(37427, 5)

In [9]:
#6. Perform simple random sampling with only 3 sample 
# towards df_rev_clean with random_state=10 without replacement. 
df_rev_clean.sample(n=3, random_state=10)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
12028,Badoo - Free Chat & Dating App,Rubbish app.,Neutral,0.0,0.0
35092,Docs To Go™ Free Office Suite,Very lite app..,Positive,0.2,0.3
48816,Free & Premium VPN - FinchVPN,"Nice, works Android 8",Positive,0.6,1.0

In [11]:
# 7. Perform stratified random sampling for each sentiment (Neutral, Positive, and Negative) 
# with the following conditions:
# 10 sample size per strata/group
# random state = 10
# without replacement
# assign as df_sample dataframe 

# Fill up the gap (___) and uncomment the following code
fn = lambda x: x.sample(n=10, random_state=10, replace=False)
df_sample = df_rev_clean.groupby('Sentiment', as_index=False).apply(fn)

In [12]:
#8. What is the mode value of Sentiment from df_rev_clean data frame? 

st.mode(df_rev_clean.Sentiment)

'Positive'

In [14]:
#9. What is the mode value of Sentiment on df_sample data frame? Why error popped up? (karna ketiga elemen-nya mempunyai jumlah yang sama banyak)

st.mode(df_sample.Sentiment)

StatisticsError: no unique mode; found 3 equally common values

In [15]:
#10. How many positive, negative, and neutral in Sentiment column of df_rev_clean data frame?

# Fill in the gap (___) and uncomment the following code
df_rev_clean['Sentiment'].value_counts()

Positive    23998
Negative     8271
Neutral      5158
Name: Sentiment, dtype: int64

In [21]:
#11. What is the mean value of sentiment_polarity and Sentiment Subjectivity of 'Angry Birds Classic'? 

st.mean(df_rev_clean[df_rev_clean.App=='Angry Birds Classic'].Sentiment_Polarity)

-0.0075373947642518166

In [22]:
st.mean(df_rev_clean[df_rev_clean.App=='Angry Birds Classic'].Sentiment_Subjectivity)

0.5348862663965559

In [17]:
#12. How many Angry Birds Classic rows were included in df_rev_clean data frame?

len(df_rev_clean[df_rev_clean.App=='Angry Birds Classic'])

273

In [23]:
#13. What is the median value of sentiment polarity and Sentiment Subjectivity of 'Candy Crush Saga'?

st.median(df_rev_clean[df_rev_clean.App=='Candy Crush Saga'].Sentiment_Polarity)

-0.01102272727272727

In [24]:
st.median(df_rev_clean[df_rev_clean.App=='Candy Crush Saga'].Sentiment_Subjectivity)

0.4816287878787878

In [19]:
#14. What is the mode value of App in the df_rev_clean? - This apps has highest number of rows in the dataset. 

st.mode(df_rev_clean.App)

'Bowmasters'

In [25]:
#15. What is the correlation value between Sentiment Polarity and Sentiment Subjectivity 
# using spearman, pearson, and kendall

# Fill in the gap and change the method using spearman, pearson, and kendall!
df_rev_clean.filter(like="Sentiment_").corr(method='spearman')

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.351522
Sentiment_Subjectivity            0.351522                1.000000

In [26]:
df_rev_clean.filter(like="Sentiment_").corr(method='pearson')

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.261587
Sentiment_Subjectivity            0.261587                1.000000

In [27]:
df_rev_clean.filter(like="Sentiment_").corr(method='kendall')

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.259973
Sentiment_Subjectivity            0.259973                1.000000